<footer class="content-info" role="contentinfo">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>No need for copyrights, feel free to reuse anything
        on this website under Creative Commons.</p>
        <p>Find me on <a href="https://twitter.com/adam_lesniak" target="_blank">Twitter</a> or <a href="https://github.com/adamlesniak" target="_blank">GitHub</a></p>
    </div>
  </div>
</footer>